.blue {
    background-color: #191970;
    color: #FFF;
    padding: 3px 30px; /* vertical | horizontal */

    border-bottom: 4px solid #000000;
    border-top: 2px solid #888;
}
.container
{
    margin-top: 80px;
}
